.book{
    float: right;
    background-color:  yellow;
    padding: 15px 60px 15px 60px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size:medium ;
    border-radius: 10px;
    border-width: 2px;;
    margin-right: 15px;
}
.book:hover{
    background-color: rgb(227, 185, 57);
    color: black;
    transition: 0.2s
}

#navElements{
    display: block;
    padding:15px;
    margin-left: 100px;
}
#header{    
    padding: 10px;
    float: left;
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: large;
    letter-spacing: 2.5px;
    color: black;
}

/* Display flex caoursel */
.carousel{
    display: flex;
    /* Center  */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    /* Center  */
    
}
p {
    margin-top: 5%;
}
.bag1 {
    display: flex;
    flex-direction: row;
}
.card{
    /* Center  */
    text-align: center;
    /* Center  */
    margin: 0 auto;
    /* Center  */
    width: 400px;
    /* Center  */
    height: 500px;
    /* Center  */
    background-color: black;
    /* Center  */
    border-radius: 10px;
    /* Center  */
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    /* Center  */
    margin: 10px;
    /* Center  */
    padding: 10px;
    /* Center  */
    transition: 0.5s;
    /* Center  */
    cursor: pointer;
    /* Center  */
    position: relative;
    /* Center  */
    overflow: hidden;
    /* Center  */
    display: flex;
    /* Center  */
    justify-content: center;
    /* Center  */
    align-items: center;
    /* Center  */
    flex-direction: column;
    /* Center  */
    text-decoration: none;
    /* Center  */
    color: white;
    /* Center  */
    font-family: 'Poppins', sans-serif;
    ;
}

.bt{
    background-color:yellow;
    border: 100px;
    margin-left: 25px;
    padding: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size:medium ;
    text-decoration: none;
}
.bt:hover{
    background-color: black;
    color:rgb(251, 237, 82);
    transition: 0.2s
}
.text,p{
    color: yellow;
    padding: 10px;
    text-decoration: none;
}
